[user]
	email = lborromee16@gmail.com
	name = Lanagramme
[pull]
	rebase = false
[safe]
	directory = /storage/emulated/0/Documents/obsidian/vaults/Zett
	directory = /storage/emulated/0/Documents/Obsidian/arcane
[init]
	defaultBranch = main
[fetch]
	prune = true
